/* imported font family */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  /*------------ rem value pick from here--------------*/

  font-size: 62.5%;
  /* Default color variables */

  --clr-primary: #c0272d;
  --clr-secondary: #0000;
  --clr-gray: #dddddd;
  --clr-light: #ffff;
  --clr-white-smoke: #ebebeb;
  --clr-secondary-light: #292929;
}

/* heading constant font family */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* basic media query breakpoints */
/* footer Media Query */

@media screen and (max-width: 1170px) {
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 480px) {
}

/* Ipads and Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* small screens and laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
