/* imported font family */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* CSS Reset */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  /*------------ rem value pick from here--------------*/

  font-size: 62.5%;
  /* Default color variables */

  --clr-primary: #c0272d;
  --clr-secondary: #0000;
  --clr-gray: #dddddd;
  --clr-light: #ffff;
  --clr-white-smoke: #ebebeb;
  --clr-secondary-light: #292929;
}

body {
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--clr-light);
}

/* heading constant font family */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
